/* Estilos y posición del nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(#d7faff, #e3f8fc);
}

nav {
    z-index: 15;
    width: 100%;
    position: fixed;
    background-color: #fbfcfc;
    border: .1px solid black;
    color: #000000;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
    font-size: 1.5em;
}

.logo > span {
    font-weight: bold;
    color: #55198A;
}

/* Opciones */
nav ul {
    flex: 4;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #d7faff;
    border-radius: 30px;
}

/* Carrito */
.cart {
    text-align: right;
}

.cart i {
    color: #050505;
    font-size: 1.5em;
    margin: 0 25px;
}

/* Búsqueda */
.search-container {
    flex: 1.5;
    display: flex;
    align-items: center;
}

.search-container .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    margin-left: 10px;
}

.search-container > input {
    width: 240px;
    padding: 10px;
    border-radius: 60px;
    border: 1px solid #ccc;
    margin-right: 15px;
}

/* Estilo y posicionamiento de la sección principal */
.main-section {
    padding: 1px 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 95%;
}

.main-content-section {
    flex: 50em;
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    align-items: center;
}

.main-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 25em;
}

.main-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 1.2em;
}

.boton {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e4e4e;
    color: #c1e7ec;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.perro1 {
    width: 30em;
    height: 25em;
    border-radius: 15px;
}

/* Segunda sección */
.category-section {
    padding: 0 30px;
    min-width: 70%;
    min-height: 600px;
    border-radius: 30px;
    background-color: #CDEFEF;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.container2-figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 100%;
}

.imgcont2-4 {
    grid-column: span 2;
}

.bg-images {
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 2px 10px gray;
    width: 100%;
}

.bg-image2-4 {
    width: 100%;
}

.animales {
    object-fit: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.bg-image2-1 {
    background: radial-gradient(#d5e1ff, #7d96d5);
}

.bg-image2-2 {
    background: radial-gradient(#fff6fe, #C57DCA);
}

.bg-image2-3 {
    background: radial-gradient(#ffffff, #c0bebe);
}

.bg-image2-4 {
    background: linear-gradient(#EBC9B4, #ffe7d8);
}

.bg-image2-5 {
    background: linear-gradient(to right, #F4C9C9, rgb(255, 240, 240));
}

.container-letter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-letter > p {
    margin-top: 180px;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 60px;
    opacity: .9;
}

/* Tercera sección */
.opinion-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 1000px;
}

.opinion-section {
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(#E3F5F8, #c3e6e3, #C1E4E1);
    box-shadow: 1px 1px 6px gray;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinion-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #A9DAD7;
    font-size: 30px;
    margin-bottom: 2em;
}

.opinion-block {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.opinion-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.opinion-item img {
    border: 1px solid black;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 95px;
    border-radius: 50px;
    opacity: .8;
}

.opinion-details {
    background-color: #e3f8fc;
    width: 100%;
    padding: 1em;
    border-radius: 40px;
    box-shadow: 1px 2px 2px gray;
    text-align: center;
    margin-top: 60px;
}

.opinion-details h5 {
    font-size: 12px;
    color: #87A8AF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.opinion-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #87A8AF;
}


.opinion-image {
    position: absolute;
    z-index: 1;
    height: 700px;
    top: 25%;
    left: 73%;
    max-width: 60%;
}

/* Footer */
footer {
    background-color: #000000;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f8fc;
    text-align: center;
}
