/*ESTILO Y POSICION DEL NAV*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(#d7faff, #e3f8fc);
}

.header {
    z-index: 5;
    width: 100%;
    position: fixed;
    background-color: #fbfcfc;
    border: .1px solid black;
    color: #000000; 
    padding: 10px 80px;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Opciones */
nav ul {
    flex: 4;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

nav ul li a:hover {
    background-color: #d7faff;
    border-radius: 30px;
    
}

.logo {
    flex: 1;
    font-size: 1.5em;
}

.logo > span {
    font-weight: bold;
}

/* Busqueda */
.search-container {
    flex: 1.5;
    display: flex;
    align-items: center;
}

.search-container .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    margin-left: 10px; 
}

.search-container > input {
    width: 240px;
    padding: 10px;
    border-radius: 60px;
    border: 1px solid #ccc;
    margin-right: 15px;
}

/* Carrito */
.cart {
    text-align: right;
}

/*ESTILO Y POSICIONAMIENTO SECTION*/
.main-section {
    position: relative;
    top: 76px;
    padding: 1px 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 95%;
}

.container1 {
    flex: 50em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*TEXTO*/
.acceso {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 25em;
    
}

.boton {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e4e4e;
    color: #c1e7ec;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

/*IMAGEN*/
.perro1 {
    width: 30em;
    height: 25em;
    border-radius: 15px;
}

.container2 {
    padding: 0 30px;
    min-width: 70%;
    min-height: 600px;
    border-radius: 30px;
    background-color: #CDEFEF; 
    margin: 0 auto;   
    display: flex;
    justify-items: center;
    align-items: center;
 
}

.category-figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 100%;
}

/*imagen de collar, ocupando la columna 3/4*/
 .imgcont2-4 {
    grid-column: span 2;
 }


/*color solido de fondo de las imagenes*/
.bg-images {
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 2px 10px gray;
    width: 100%;
}

/*cambiamos el ancho para que abarque todo el espacio disponible*/
.bg-image2-4 {
    width: 100%;
}


/*imagenes*/
.animales {
    object-fit: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*Ajustamos los parrafos representativos de las imagenes de los animales*/
.container-letter > p { 
    margin-top: 180px;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 60px;
    opacity: .9;
}

/*QUINTO RECUADRO*/
.preFooter {
    font-family: Montserrat, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.preFooter h3 {
    font-family: Montserrat, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 2.5em;
    color: #47AAC3;
    margin-bottom: 20px;
}

.preFooter h3 > span {
    font-weight: bold;
}

.preFooter > p {
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 70px;
}

.linea {
    width: 100%;
    display: flex;
}

.preFooter1 {
    width: 50%;
    display: flex;
    justify-content: end;
}

.preFooter1 > form {
    width: 70%; 
    display: flex;
    flex-direction: column;
    
    
    
}

.preFooter1 > form > label {
    font-size: 16px;
    font-weight: 400;
}

.preFooter1 > form > input {
    width: 100%; 
    height: 50px;
    border-radius: 90px;
    display: flex;
    border: 1px solid #ccc; 
    
}

.preFooter2 {
    width: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-contact {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #DCDCDC;
    width: 60%;
    border-radius: 80px;
    padding: 2em;
    justify-content: center;
    
}

.info-contact > p {
    font-size: 25px;
}




/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    background-color: #000000;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f8fc;
    width: 100%;
    text-align: center;
}